<app-modal [modalRef]="modalRef" 
            title="Add Manufacturing">
    <form [formGroup]="addManufacturingForm">
        <div class="form-group" formGroupName="quantity">
            <label for="value">Quantity</label>
            <div class="input-group">
                <input type="text"
                    class="form-control"
                    id="value"
                    formControlName="value"
                    placeholder="100">
                <div class="input-group-append">
                    <select class="custom-select" formControlName="unit">
                        <option *ngFor="let unit of unitValues"
                                [value]="unit">
                            {{ quantityUnitToLabelMapping[unit] }}
                        </option>
                        </select>
                </div>
            </div>
            <div *ngIf="value.touched && value.errors?.required" class="alert alert-danger">
                <div>Quantity is required.</div>
            </div>
            <div *ngIf="value.touched && value.errors?.pattern" class="alert alert-danger">
                <div>Quantity should be in correct format</div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block"
                    (click)="addManufacturing()">Add to Manufacturing</button> 
        </div>
    </form>
</app-modal>
