<app-modal [modalRef]="modalRef" 
            [title]="isEditMode ? 'Edit Item' : 'Add Item'">
    <form [formGroup]="addItemForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text"
                    class="form-control"
                    id="name"
                    formControlName="name">
            <div *ngIf="name.touched && name.errors?.required" class="alert alert-danger">
                <div>Name is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="size">Size</label>
            <input type="text"
                    class="form-control"
                    id="size"
                    formControlName="size"
                    placeholder="0.6">
            <div *ngIf="size.touched && size.errors?.required" class="alert alert-danger">
                <div>Size is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="grade">Grade</label>
            <input type="text"
                class="form-control"
                id="grade"
                formControlName="grade">
            <div *ngIf="grade.touched && grade.errors?.required" class="alert alert-danger">
                <div>Grade is required.</div>
            </div>
        </div>
        <div class="form-group item_type">
            <label for="is_sub_item">Is Sub Item?</label>
            <input type="checkbox"
                class="sub_item_check"
                id="is_sub_item"
                formControlName="is_sub_item">
        </div>
        <div class="button-group">
            <div class="button-row">
                <button class="btn btn-primary"
                        (click)="addItem()">{{isEditMode ? 'Update Item' : 'Add Item'}}</button> 
            </div>
        </div>
    </form>
</app-modal>
