<app-modal [modalRef]="modalRef" title="Process Further - Scan Packages">
    <form [formGroup]="processFurtherForm">
        <!-- Barcode Input -->
        <div class="form-group">
            <label><i class="fa fa-barcode"></i> Scan Package Barcode</label>
            <div class="input-group">
                <input type="text"
                       #barcodeInputRef
                       class="form-control"
                       [(ngModel)]="barcodeInput"
                       [ngModelOptions]="{standalone: true}"
                       placeholder="Scan or enter barcode and press Enter..."
                       (keyup.enter)="scanBarcode()"
                       (focus)="barcodeInputRef.select()"
                       *ngIf="!isMobile">
                <!-- Mobile: Camera scan button -->
                <button type="button" 
                        class="btn btn-primary" 
                        (click)="openBarcodeScanner()"
                        *ngIf="isMobile"
                        style="width: 100%;">
                    <i class="fa fa-camera"></i> Scan Barcode
                </button>
                <!-- Web: Input field with Add button -->
                <div class="input-group-append" *ngIf="!isMobile">
                    <button type="button" 
                            class="btn btn-primary" 
                            (click)="scanBarcode()">
                        <i class="fa fa-plus"></i> Add
                    </button>
                </div>
            </div>
            <small class="form-text text-muted">
                <i class="fa fa-info-circle"></i> Scan multiple packages to process them together. Weight is automatically read from QR code.
            </small>
        </div>

        <!-- Scanned Packages List -->
        <div class="form-group" *ngIf="scannedPackages.length > 0">
            <label><i class="fa fa-list"></i> Scanned Packages ({{scannedPackages.length}})</label>
            <div class="table-responsive">
                <table class="table table-sm table-bordered">
                    <thead>
                        <tr>
                            <th>Barcode</th>
                            <th>Item</th>
                            <th>Weight</th>
                            <th>Rate</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pkg of scannedPackages; let i = index">
                            <td>{{pkg.barcode}}</td>
                            <td>{{pkg.item.name}} Grade: {{pkg.item.grade}} Size: {{pkg.item.size}}</td>
                            <td>{{pkg.net_quantity}} {{quantityUnitToLabelMapping[pkg.unit]}}</td>
                            <td>Rs. {{pkg.rate}}/{{quantityUnitToLabelMapping[pkg.unit]}}</td>
                            <td>
                                <button type="button" 
                                        class="btn btn-sm btn-danger" 
                                        (click)="removePackage(i)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="2">Total</th>
                            <th>{{getTotalQuantity()}} {{quantityUnitToLabelMapping[getTotalUnit()]}}</th>
                            <th colspan="2"></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>


        <!-- Submit Button -->
        <div class="button-group">
            <div class="button-row">
                <button class="btn btn-primary"
                        [disabled]="scannedPackages.length === 0"
                        (click)="submitProcessFurther()">
                    <i class="fa fa-check"></i> Unpackage All Packages
                </button>
                <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">
                    <i class="fa fa-times"></i> Cancel
                </button>
            </div>
        </div>
    </form>
</app-modal>

