<div class="container-fluid">
  <tabset *ngIf="!route.snapshot.params.item_id">
    <tab heading="Main Items" (selectTab)="onSelect($event)"></tab>
    <tab heading="Sub Items" (selectTab)="onSelect($event)"></tab>
  </tabset>
  <div class="flex-container">
    <div>
    <div class="total">Total opening amount: Rs. {{total?.opening_amount | number:'1.2-2'}}</div>
    <div class="total">Total closing amount: Rs. {{total?.closing_amount | number:'1.2-2'}}</div>
  </div>
    <button type="button"
            class="btn btn-primary add-item-btn"
            (click)=addItem()>
      Add Item
    </button>
  </div> 
  <table class="table">
      <thead>
          <th scope="col">Date</th>
          <th scope="col">Item Name</th>
          <th scope="col">Grade</th>
          <th scope="col">Size</th>
          <th scope="col">Initial Stock</th>
          <th scope="col">Opening Stock</th>
          <th scope="col">Opening Amount</th>
          <th scope="col">Closing Stock</th>
          <th scope="col">Closing Amount</th>
          <th scope="col">Actions</th> 
      </thead>
      <tbody>
        <tr *ngFor="let inv_item of inventory">
            <td>{{inv_item.timestamp | date: 'dd/MM/yyyy'}}</td>
            <td *ngIf="!route.snapshot.params.item_id"><a [routerLink]="['/inventory', inv_item.item.item_id]">{{inv_item.item.name}}</a></td>
            <td *ngIf="route.snapshot.params.item_id">{{inv_item.item.name}}</td>
            <td>{{inv_item.item.grade}}</td>
            <td>{{inv_item.item.size}}</td>
            <td>{{inv_item.initial_stock.value | number:'1.2-2'}} {{quantityUnitToLabelMapping[inv_item.initial_stock.unit]}}</td>
            <td>{{inv_item.opening_stock.value | number:'1.2-2'}} {{quantityUnitToLabelMapping[inv_item.opening_stock.unit]}}</td>
            <td>Rs. {{inv_item.opening_amount | number:'1.2-2'}}</td>
            <td>{{inv_item.closing_stock.value | number:'1.2-2'}} {{quantityUnitToLabelMapping[inv_item.closing_stock.unit]}}</td>
            <td>Rs. {{inv_item.closing_amount | number:'1.2-2'}}</td>
            <td class="actions">
              <div class="btn-group" dropdown>
                <button id="button-split" type="button" dropdownToggle class="btn"
                        aria-controls="dropdown-split">
                        <i class="fa fa-ellipsis-v"></i>
                </button>
                <ul id="dropdown-split" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                    role="menu" aria-labelledby="button-split">
                  <li role="menuitem"><a class="dropdown-item">Print Label</a></li>
                  <li role="menuitem"><a class="dropdown-item" (click)="moveToManufacturing(inv_item.item)">Move to Manufacturing</a></li>
                  <li role="menuitem"><a class="dropdown-item" (click)="sellItem(inv_item.item)">Sell Item</a></li>
                </ul>
              </div>
            </td>
        </tr>
      </tbody>
  </table>
</div>