<div class="container-fluid">
  <tabset *ngIf="!route.snapshot.params.item_id">
    <tab heading="Main Items" (selectTab)="onSelect($event)"></tab>
    <tab heading="Sub Items" (selectTab)="onSelect($event)"></tab>
  </tabset>
  <div class="flex-container">
    <div>
    <div class="total" *ngIf="!route.snapshot.params.item_id">
      <div *ngIf="currentTab === 'Main Items'">
        Opening: Rs. {{total?.main_items?.opening_amount | number:'1.2-2'}} | Closing: Rs. {{total?.main_items?.closing_amount | number:'1.2-2'}}
      </div>
      <div *ngIf="currentTab === 'Sub Items'">
        Opening: Rs. {{total?.sub_items?.opening_amount | number:'1.2-2'}} | Closing: Rs. {{total?.sub_items?.closing_amount | number:'1.2-2'}}
      </div>
    </div>
    <div class="total" *ngIf="route.snapshot.params.item_id">
      <div>Opening amount: Rs. {{total?.sub_items?.opening_amount | number:'1.2-2'}}</div>
      <div>Closing amount: Rs. {{total?.sub_items?.closing_amount | number:'1.2-2'}}</div>
    </div>
  </div>
    <button type="button"
            class="btn btn-primary add-item-btn"
            (click)=addItem()>
      <i class="fa fa-plus"></i> Add Item
    </button>
  </div> 
  <table class="table">
      <thead>
          <th scope="col">Date</th>
          <th scope="col">Barcode</th>
          <th scope="col">Item Name</th>
          <th scope="col">Grade</th>
          <th scope="col">Size</th>
          <th scope="col">Opening Stock</th>
          <th scope="col">Opening Amount</th>
          <th scope="col">Closing Stock</th>
          <th scope="col">Closing Amount</th>
          <th scope="col">Actions</th> 
      </thead>
      <tbody>
        <tr *ngFor="let inv_item of inventory">
            <td>{{inv_item.timestamp | date: 'dd/MM/yyyy'}}</td>
            <td>
              <span *ngIf="inv_item.barcode || inv_item.source_barcode">
                <i class="fa fa-barcode"></i> {{inv_item.barcode || inv_item.source_barcode}}
              </span>
              <span *ngIf="!inv_item.barcode && !inv_item.source_barcode" class="text-muted">-</span>
            </td>
            <td *ngIf="!route.snapshot.params.item_id"><a [routerLink]="['/inventory', inv_item.item.item_id]">{{inv_item.item.name}}</a></td>
            <td *ngIf="route.snapshot.params.item_id">{{inv_item.item.name}}</td>
            <td>{{inv_item.item.grade}}</td>
            <td>{{inv_item.item.size}}</td>
            <td>{{inv_item.opening_stock.value | number:'1.2-2'}} {{quantityUnitToLabelMapping[inv_item.opening_stock.unit]}}</td>
            <td>Rs. {{inv_item.opening_amount | number:'1.2-2'}}</td>
            <td>{{inv_item.closing_stock.value | number:'1.2-2'}} {{quantityUnitToLabelMapping[inv_item.closing_stock.unit]}}</td>
            <td>Rs. {{inv_item.closing_amount | number:'1.2-2'}}</td>
            <td class="actions">
              <div class="btn-group" dropdown>
                <button id="button-split" type="button" dropdownToggle class="btn"
                        aria-controls="dropdown-split">
                        <i class="fa fa-ellipsis-v"></i>
                </button>
                <ul id="dropdown-split" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                    role="menu" aria-labelledby="button-split">
                  <li role="menuitem"><a class="dropdown-item"><i class="fa fa-print"></i> Print Label</a></li>
                  <li role="menuitem"><a class="dropdown-item" (click)="moveToManufacturing(inv_item)"><i class="fa fa-industry"></i> Move to Manufacturing</a></li>
                  <li role="menuitem"><a class="dropdown-item" (click)="sellItem(inv_item)"><i class="fa fa-shopping-bag"></i> Sell Item</a></li>
                </ul>
              </div>
            </td>
        </tr>
      </tbody>
  </table>
</div>