.fa-ellipsis-v {
    font-size: 1.5rem;
}

.actions {
    padding-left: 2.3rem;
    .btn {
        padding: 0;
    }
    .dropdown-menu {
        min-width: 8rem;
    }
}

.add-item-btn {
    float: right;
    margin: 1rem 0 1rem 0;
}

.total {
    font-weight: 500;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
