<div class="container-fluid">
  <table class="table">
      <thead>
          <th scope="col">Date</th>
          <th scope="col">Invoice No.</th>
          <th scope="col">Vendor</th>
          <th scope="col">Item Name</th>
          <th scope="col">Size</th>
          <th scope="col">Quantity</th>
          <th scope="col">Grade</th>
          <th scope="col">Amount</th>
          <th scope="col">Actions</th> 
      </thead>
      <tbody>
        <tr *ngFor="let package of inventory">
            <td>{{package.timestamp}}</td>
            <td>Test Invoice</td>
            <td>Test Vendor</td>
            <td>{{package.item_name}}</td>
            <td>{{package.size}}</td>
            <td>{{package.quantity}}</td>
            <td>Test Grade</td>
            <td>Rs. 1000</td>
            <td class="actions">
              <div class="btn-group" dropdown>
                <button id="button-split" type="button" dropdownToggle class="btn"
                        aria-controls="dropdown-split">
                        <i class="fa fa-ellipsis-v"></i>
                </button>
                <ul id="dropdown-split" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                    role="menu" aria-labelledby="button-split">
                  <li role="menuitem"><a class="dropdown-item" href="#">Action 1</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#">Action 2</a>
                  </li>
                  <li role="menuitem"><a class="dropdown-item" href="#">Action 3</a></li>
                </ul>
              </div>
            </td>
        </tr>
      </tbody>
  </table>
</div>


