<ng-container>
    <form>
        <div class="form-group">
            <label for="inputInvoiceNo">Invoice No.</label>
            <input type="text" class="form-control" id="inputInvoiceNo">
        </div>
        <div class="form-group">
            <label for="inputVendor">Vendor</label>
            <input type="text" class="form-control" id="inputVendor">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputItemName">Item Name</label>
                <input type="text" class="form-control" id="inputItemName">
            </div>
            <div class="form-group col-md-6">
                <label for="inputGrade">Grade</label>
                <input type="text" class="form-control" id="inputGrade">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputSize">Size</label>
                <input type="text" class="form-control" id="inputSize">
            </div>
            <div class="form-group col-md-4">
                <label for="inputQuantity">Quantity</label>
                <input type="text" class="form-control" id="inputQuantity">
            </div>
            <div class="form-group col-md-4">
                <label for="inputRate">Rate</label>
                <input type="text" class="form-control" id="inputRate">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 add-package__apply-next">
                <button class="btn btn-secondary add-package__button">Apply to Next</button>
            </div>
            <div class="form-group col-md-6 add-package__next-package">
                <button class="btn btn-primary add-package__button">Next Package</button>
            </div>
        </div>
        <div class="form-group add-package__done-and-print">
            <button class="btn btn-light add-package__button">Done and Print Labels</button> 
        </div>
    </form>
</ng-container>