<div class="container-fluid">
    <app-data-grid
        [columns]="columns"
        [data]="parties"
        [showSearch]="true"
        [showActions]="authService.isAdmin()"
        [headerActions]="authService.isAdmin()"
        [actionsTemplate]="actionsTemplate"
        [trackByFn]="trackByPartyId"
        [searchPlaceholder]="'Search ' + (party_type === 'customer' ? 'customers' : 'vendors') + '...'">
        <div headerActions *ngIf="authService.isAdmin()">
            <button type="button"
                    class="btn btn-primary btn-sm"
                    (click)=addParty()>
                <i class="fa fa-plus"></i> {{button_value}}
            </button>
        </div>
    </app-data-grid>

    <!-- Actions Template -->
    <ng-template #actionsTemplate let-party>
        <div class="btn-group" dropdown>
            <button id="button-split" type="button" dropdownToggle class="btn"
                    aria-controls="dropdown-split">
                    <i class="fa fa-ellipsis-v"></i>
            </button>
            <ul id="dropdown-split" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                role="menu" aria-labelledby="button-split">
                <li role="menuitem"><a class="dropdown-item" (click)="editParty(party)"><i class="fa fa-edit"></i> Edit</a></li>
                <li role="menuitem"><a class="dropdown-item" (click)="removeParty(party)"><i class="fa fa-trash"></i> Remove</a></li>
            </ul>
        </div>
    </ng-template>
</div>