<div class="container-fluid">
    <app-data-grid
        [columns]="columns"
        [data]="users"
        [showSearch]="true"
        [showActions]="true"
        [headerActions]="true"
        [actionsTemplate]="actionsTemplate"
        [trackByFn]="trackByUserId"
        searchPlaceholder="Search users...">
        <div headerActions>
            <button type="button"
                    class="btn btn-primary btn-sm"
                    (click)="addUser()">
                <i class="fa fa-plus"></i> Add User
            </button>
        </div>
    </app-data-grid>

    <!-- Role Template -->
    <ng-template #roleTemplate let-row let-value="value">
        <span class="badge" [ngClass]="getRoleBadgeClass(value)">
            {{value === 'admin' ? 'Admin' : (value === 'user' ? 'User' : 'N/A')}}
        </span>
    </ng-template>

    <!-- Actions Template -->
    <ng-template #actionsTemplate let-user>
        <div class="btn-group" dropdown>
            <button id="button-split" type="button" dropdownToggle class="btn"
                    aria-controls="dropdown-split">
                    <i class="fa fa-ellipsis-v"></i>
            </button>
            <ul id="dropdown-split" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                role="menu" aria-labelledby="button-split">
                <li role="menuitem"><a class="dropdown-item" (click)="editUser(user)"><i class="fa fa-edit"></i> Edit</a></li>
                <li role="menuitem"><a class="dropdown-item text-danger" (click)="removeUser(user)"><i class="fa fa-trash"></i> Remove</a></li>
            </ul>
        </div>
    </ng-template>
</div>

