.fa-ellipsis-v {
    font-size: 1.5rem;
}

.actions {
    padding-left: 2.3rem;
    .btn {
        padding: 0;
    }
    .dropdown-menu {
        min-width: 8rem;
    }
}

.add-item-btn {
    float: right;
    margin-bottom: 1rem;
}