<div class="container-fluid">
    <app-data-grid
        [columns]="columns"
        [data]="sales"
        [showSearch]="true"
        [showActions]="authService.isAdmin()"
        [headerActions]="true"
        [actionsTemplate]="actionsTemplate"
        [trackByFn]="trackBySaleId"
        searchPlaceholder="Search sales...">
        <div headerCenter>
          <div class="summary-inline" *ngIf="total_amount">
            <span class="summary-inline-label">Total:</span>
            <span class="summary-inline-value">Rs. {{total_amount | number:'1.2-2'}}</span>
          </div>
        </div>
        <div headerActions>
          <button type="button"
                  class="btn btn-primary btn-sm"
                  (click)=addSales()>
            <i class="fa fa-plus"></i> Add Sales
          </button>
        </div>
    </app-data-grid>

    <!-- Actions Template -->
    <ng-template #actionsTemplate let-sale>
      <div class="btn-group" dropdown [container]="'body'" [autoClose]="true">
        <button id="button-split" type="button" dropdownToggle class="btn"
                aria-controls="dropdown-split">
                <i class="fa fa-ellipsis-v"></i>
        </button>
        <ul id="dropdown-split" *dropdownMenu class="dropdown-menu dropdown-menu-right"
            role="menu" aria-labelledby="button-split">
          <li role="menuitem"><a class="dropdown-item text-danger" (click)="removeSale(sale)"><i class="fa fa-trash"></i> Remove</a></li>
        </ul>
      </div>
    </ng-template>
  </div>