<app-modal [modalRef]="modalRef" 
            title="Sell Item">
    <form [formGroup]="sellItemForm">
        <!-- Show barcode info if from scan -->
        <div *ngIf="barcode && availableQuantity" class="alert alert-info">
            <strong><i class="fa fa-barcode"></i> Barcode:</strong> {{barcode}}<br>
            <strong>Available:</strong> {{availableQuantity.value}} {{quantityUnitToLabelMapping[availableQuantity.unit]}}
            <span *ngIf="rate"> at Rs. {{rate}}/{{quantityUnitToLabelMapping[availableQuantity.unit]}}</span>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="invoiceNo"><i class="fa fa-file-invoice"></i> Invoice No.</label>
                <input type="text"
                    class="form-control"
                    id="invoiceNo"
                    formControlName="invoice_id">
            </div>
            <div class="form-group col-md-6">
                <label for="timestamp"><i class="fa fa-calendar"></i> Date</label>
                <input type="text"
                    class="form-control"
                    bsDatepicker
                    formControlName="timestamp"
                    [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue' }" />
            </div>
        </div>
        <div class="form-group">
            <label for="customer_name">
                <i class="fa fa-users"></i> Customer Name
                <button type="button" 
                        class="btn btn-sm btn-link p-0 ml-2" 
                        (click)="openAddCustomerModal()"
                        title="Add new customer">
                    <i class="fa fa-plus-circle text-primary"></i>
                </button>
            </label>
            <input type="text"
                   class="form-control"
                   id="customer"
                   [typeahead]="parties"
                   typeaheadOptionField="name"
                   (typeaheadOnSelect)="onSelectCustomer($event)"
                   (blur)="validateCustomerField()"
                   [typeaheadScrollable]="true"
                   formControlName="selected_customer">
            <div *ngIf="selectedCustomer.touched && selectedCustomer.errors?.required" class="alert alert-danger">
                <div>Customer name is required.</div>
            </div>
            <div *ngIf="selectedCustomer.touched && selectedCustomer.errors?.customerNotSelected" class="alert alert-danger">
                <div>Please select a customer from the dropdown suggestions.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="item">
                <i class="fa fa-box"></i> Item
                <button type="button" 
                        *ngIf="!item"
                        class="btn btn-sm btn-link p-0 ml-2" 
                        (click)="openAddItemModal()"
                        title="Add new item">
                    <i class="fa fa-plus-circle text-primary"></i>
                </button>
            </label>
            <input type="text"
                class="form-control"
                id="item"
                name="sale-item"
                [attr.disabled]="item ? true : null"
                [typeahead]="items"
                [typeaheadItemTemplate]="customItemTemplate"
                typeaheadOptionField="name"
                (typeaheadOnSelect)="onSelectItem($event)"
                (blur)="validateItemField()"
                [typeaheadScrollable]="true"
                formControlName="selected_item">
                <ng-template #customItemTemplate let-item="item">
                   {{item.name}} Grade: {{item.grade}} Size: {{item.size}}
                </ng-template>
            <div *ngIf="selectedItem.touched && selectedItem.errors?.required" class="alert alert-danger">
                <div>Item is required.</div>
            </div>
            <div *ngIf="selectedItem.touched && selectedItem.errors?.itemNotSelected" class="alert alert-danger">
                <div>Please select an item from the dropdown suggestions.</div>
            </div>
        </div>
        <div class="form-group" formGroupName="quantity">
            <label for="value"><i class="fa fa-balance-scale"></i> Quantity</label>
            <div class="input-group">
                <input appDecimalNumber
                       type="text"
                       class="form-control"
                       id="value"
                       formControlName="value"
                       [max]="availableQuantity?.value">
                <div class="input-group-append">
                    <select class="custom-select" formControlName="unit">
                        <option *ngFor="let unit of unitValues"
                                [value]="unit">
                            {{ quantityUnitToLabelMapping[unit] }}
                        </option>
                        </select>
                </div>
            </div>
            <small *ngIf="availableQuantity" class="form-text text-muted">
                Max: {{availableQuantity.value}} {{quantityUnitToLabelMapping[availableQuantity.unit]}}
            </small>
            <div *ngIf="value.touched && value.errors?.required" class="alert alert-danger">
                <div>Quantity is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="selling_price"><i class="fa fa-rupee"></i> Selling Price</label>
            <input appDecimalNumber
                   type="text"
                   class="form-control"
                   id="selling_price"
                   formControlName="selling_price">
            <div *ngIf="selling_price.touched && selling_price.errors?.required" class="alert alert-danger">
                <div>Selling Price is required.</div>
            </div>
        </div>
        <div class="button-group">
            <div class="button-row">
                <button class="btn btn-primary"
                        (click)="sellItem()">Sell Item</button> 
            </div>
        </div>
    </form>
</app-modal>
