<app-modal [modalRef]="modalRef" 
            title="Purchase Entry">
    <form [formGroup]="addPurchaseForm">
        <div class="form-group">
            <label for="invoiceNo">Invoice No.</label>
            <input type="text"
                   class="form-control"
                   id="invoiceNo"
                   formControlName="invoice_id">
        </div>
        <div class="form-group" formGroupName="vendor">
            <label for="vendor">Vendor</label>
            <input type="text"
                   class="form-control"
                   id="vendor"
                   formControlName="name">
            <div *ngIf="vendor.touched && vendor.errors?.required" class="alert alert-danger">
                <div>Vendor is required.</div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4" formGroupName="item">
                <label for="name">Item Name</label>
                <input type="text"
                    class="form-control"
                    id="itemName"
                    formControlName="name">
                <div *ngIf="itemName.touched && itemName.errors?.required" class="alert alert-danger">
                    <div>Item name is required.</div>
                </div>
            </div>
            <div class="form-group col-md-4" formGroupName="item">
                <label for="size">Size</label>
                <input type="text"
                    class="form-control"
                    id="size"
                    formControlName="size"
                    placeholder="0.6">
                <div *ngIf="size.touched && size.errors?.required" class="alert alert-danger">
                    <div>Size is required.</div>
                </div>
                <div *ngIf="size.touched && size.errors?.pattern" class="alert alert-danger">
                    <div>Size should be in correct format</div>
                </div>
            </div>
            <div class="form-group col-md-4" formGroupName="item">
                <label for="grade">Grade</label>
                <input type="text"
                    class="form-control"
                    id="grade"
                    formControlName="grade">
                <div *ngIf="grade.touched && grade.errors?.required" class="alert alert-danger">
                    <div>Grade is required.</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6" formGroupName="quantity">
                <label for="value">Quantity</label>
                <div class="input-group">
                    <input type="text"
                       class="form-control"
                       id="value"
                       formControlName="value"
                       placeholder="100">
                    <div class="input-group-append">
                        <select class="custom-select" formControlName="unit">
                            <option *ngFor="let unit of unitValues"
                                    [value]="unit">
                              {{ quantityUnitToLabelMapping[unit] }}
                            </option>
                          </select>
                    </div>
                </div>
                <div *ngIf="value.touched && value.errors?.required" class="alert alert-danger">
                    <div>Quantity is required.</div>
                </div>
                <div *ngIf="value.touched && value.errors?.pattern" class="alert alert-danger">
                    <div>Quantity should be in correct format</div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="rate">Rate</label>
                <input type="text"
                       class="form-control"
                       id="rate"
                       formControlName="rate"
                       placeholder="50.00">
                <div *ngIf="rate.touched && rate.errors?.required" class="alert alert-danger">
                    <div>Rate is required.</div>
                </div>
                <div *ngIf="rate.touched && rate.errors?.pattern" class="alert alert-danger">
                    <div>Rate should be in correct format</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 add-purchase__apply-next">
                <button class="btn btn-secondary add-purchase__button"
                        (click)="applyToNext()">Apply to Next</button>
            </div>
            <div class="form-group col-md-6 add-purchase__next-item">
                <button class="btn btn-primary add-purchase__button"
                        (click)="nextItem()">Next Item</button>
            </div>
        </div>
        <div class="form-group add-purchase__done-and-print">
            <button class="btn btn-light add-purchase__button"
                    (click)="doneAndPrintLabels()">Done and Print Labels</button> 
        </div>
    </form>
</app-modal>