<div class="container-fluid">
    <app-data-grid
        [columns]="columns"
        [data]="items"
        [showSearch]="true"
        [showActions]="authService.isAdmin()"
        [headerActions]="authService.isAdmin()"
        [actionsTemplate]="actionsTemplate"
        [trackByFn]="trackByItemId"
        searchPlaceholder="Search items...">
        <div headerActions>
            <button type="button"
                    class="btn btn-primary btn-sm"
                    (click)=addItem()>
                <i class="fa fa-plus"></i> Add Item
            </button>
        </div>
    </app-data-grid>

    <!-- Actions Template -->
    <ng-template #actionsTemplate let-item>
        <div class="btn-group" dropdown [container]="'body'" [autoClose]="true">
            <button id="button-split" type="button" dropdownToggle class="btn"
                    aria-controls="dropdown-split">
                    <i class="fa fa-ellipsis-v"></i>
            </button>
            <ul id="dropdown-split" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                role="menu" aria-labelledby="button-split">
                <li role="menuitem"><a class="dropdown-item" (click)="editItem(item)"><i class="fa fa-edit"></i> Edit</a></li>
                <li role="menuitem"><a class="dropdown-item" (click)="removeItem(item.item_id)"><i class="fa fa-trash"></i> Remove</a></li>
            </ul>
        </div>
    </ng-template>
</div>