
<div class="container-fluid">
    <div class="flex-container">
        <button type="button"
        class="btn btn-primary add-item-btn"
                    (click)=addItem()>
            Add Item
        </button>
    </div>
    <table class="table">
        <thead>
            <th scope="col">Name</th>
            <th scope="col">Grade</th>
            <th scope="col">Size</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of items">
                <td>{{item.name}}</td>
                <td>{{item.grade}}</td>
                <td>{{item.size}}</td>
            </tr>
        </tbody>
    </table>
</div>